@model Kyo.Entidades.Asistencia

@{
    ViewBag.Title = "Eliminando Asistencia " + @Model.Alumno.Nombre + " " + @Model.Alumno.Apellido;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<h3 class="label-danger">Esta seguro de eliminar este Dojo?</h3>

<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }

    <div class="pull-right">
        <a href="@Url.Action("Index", "Asistencia")" class="btn btn-default">
            Volver al listado
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </div>
</div>
