@model Kyo.Entidades.Examen

@{
    ViewBag.Title = "Alta de Examen";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Examen</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Alumno, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.AlumnoId, (List<SelectListItem>)ViewBag.Alumnos, "-- Seleccionar Alumno --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AlumnoId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CinturonActual, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CinturonActualId, (List<SelectListItem>)ViewBag.CinturonDesde, "-- Cinturon Actual --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CinturonActualId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CinturonActual, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CinturonProximoId, (List<SelectListItem>)ViewBag.CinturonHasta, "-- Cinturon Proximo --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CinturonProximoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Aprobado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Aprobado)
                        @Html.ValidationMessageFor(model => model.Aprobado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div class="pull-right">
        <a href="@Url.Action("Index", "Alumno")" class="btn btn-default">
            Volver al listado
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
