@model IEnumerable<Kyo.Entidades.Examen>

@{
    ViewBag.Title = "Listado de Examenes";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<div class="pull-right">
    <a href="@Url.Action("Create", "Examen")" class="btn btn-default">
        Nuevo
        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</div>
    <div class="col-md-12 table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aprobado)
                    </th>
                    <th style="width:5px;"></th>
                    <th style="width:5px;"></th>
                    <th style="width:5px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aprobado)
                        </td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Details"><a class="btn btn-success btn-xs" href="@Url.Action("Details", "Examen", new { id = item.Id })"><span class="glyphicon glyphicon-search"></span></a></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "Examen", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" href="@Url.Action("Delete", "Examen", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
